.container img{
  width: 450px;  
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 15px 10px 10px;
  border-radius: 5px;
   
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333;
    color: #fff;
}
input, button{
  padding: 10px 10px 10px 10px;
}
input{
  max-width: 120px;

}
button{
  max-width: 100px;
  margin: 0 0 0 10px;
}
.container{
  display: grid;
  grid-template-rows:
    1fr
    1fr;
  border: solid firebrick 1px;	
}